<div class="card-body">
    <div class="viewPageBody bg-light">
        <br>
        <h2 class="lblHeader2 card-title">Update {{title}}</h2>
        <br>

        <form class="inputTableContainter" [formGroup]="editForm" (ngSubmit)="edit()">
            <table class="CRUDTable table table-borderless">
                <tr scope="row">
                    <td class="lblInputLabel">Error Code:</td>
                    <td><input type="text" required formControlName="errorCodeName"></td>
                </tr>
                <tr *ngIf="editForm.get('errorCodeName')?.dirty && editForm.get('errorCodeName')?.hasError('required')">
                    <td></td>
                    <td class="errorMsg">Field cannot be empty.</td>
                </tr>
                <tr
                    *ngIf="editForm.get('errorCodeName')?.touched && editForm.get('errorCodeName')?.hasError('specialChar')">
                    <td></td>
                    <td class="errorMsg">Field cannot contain special characters.</td>
                </tr>
                <!-- <tr *ngIf="editForm.get('errorCodeName')?.dirty && editForm.get('errorCodeName')?.hasError('pattern')">
                    <td></td>
                    <td class="errorMsg">Error code should contain: <br /> ... </td>
                </tr> -->
                <tr scope="row">
                    <td class="lblInputLabel">Error Description:</td>
                    <td><input type="text" required formControlName="errorCodeDescription"></td>
                </tr>
                <tr
                    *ngIf="editForm.get('errorCodeDescription')?.dirty && editForm.get('errorCodeDescription')?.hasError('required')">
                    <td></td>
                    <td class="errorMsg">Field cannot be empty.</td>
                </tr>
                <tr
                    *ngIf="editForm.get('errorCodeDescription')?.touched && editForm.get('errorCodeDescription')?.hasError('specialChar')">
                    <td></td>
                    <td class="errorMsg">Field cannot contain special characters.</td>
                </tr>
            </table>

            <div class="btnReturnContainer">
                <button class="btnReturn" (click)="back()">
                    <P class="btnReturnText">Return</P>
                </button>
            </div>

            <div class="btnSubmitContainer">
                <button class="btnSubmit" type="submit" [disabled]="!editForm.valid">
                    <P class="btnSubmitText">Submit</P>
                </button>
            </div>
        </form>
    </div>
</div>