<body>
    <div class="card" *ngIf="navigated">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="checkmark">X</i>
        </div>
        <h1>Repair Payment Cancelled</h1>
        <p>Payment could not be completed, <br /> If you did not cancel the payment please check your connection or contact support;<br /> you can check back anytime to try again!</p>
    </div>
    <div class="card" *ngIf="!navigated">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="checkmark">X</i>
        </div>
        <h1>Checkout Cancelled</h1>
        <p>Checkout could not be completed, <br /> If you did not cancel the checkout please check your connection or contact support;<br /> we'll preserve your cart until you're ready!</p>
    </div>
</body>

<div class="btnReturnContainer">
    <button class="btnReturn" routerLink="/cart">
        <P class="btnReturnText">Return</P>
    </button>
</div>