body {
    margin: 0;
}

.bg {
    animation: slide 20s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(162, 125, 55) 50%, rgba(48, 238, 226, 1) 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 27s;
}

.bg3 {
    animation-duration: 35s;
}

.content {
    background-color: rgba(45, 78, 86, 0.95);
    border-radius: .25em;
    box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
    box-sizing: border-box;
    text-align: center;
    padding: 10vmin;
    position: fixed;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    z-index: 50;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

.lblHeader3 {
    color: black;
    background-color: #339DFF;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

.lblHeader3 > p{
    font-size: larger;
    font-weight: 500;
}

.printerIcon {
    height: auto;
    width: 100px;
    font-size: 100px;
    color: rgb(73, 73, 73);
    transition: 0.5s;
}

.printerIcon:hover {
    cursor: pointer;
    color: black;
}