<div class="card-body">
    <div class="viewPageBody bg-light">
        <br>
        <h2 class="lblHeader2 card-title">Create {{title}}</h2>
        <br>

        <form class="inputTableContainter" [formGroup]="addForm" (ngSubmit)="Add()">
            <table class="CRUDTable table table-borderless">
                <tr scope="row">
                    <td class="lblInputLabel">{{title}} Name:</td>
                    <td><input #name type="text" required name="provinceName"
                            formControlName="provinceName"></td>
                </tr>
                <tr *ngIf="addForm.get('provinceName')?.touched && addForm.get('provinceName')?.hasError('required')">
                    <td></td>
                    <td class="errorMsg">Field cannot be empty.</td>
                </tr>
                <tr *ngIf="addForm.get('provinceName')?.dirty && addForm.get('provinceName')?.hasError('pattern') || addForm.get('provinceName')?.dirty && addForm.get('provinceName')?.hasError('specialChar')">
                    <td></td>
                    <td class="errorMsg">Field cannot contain numbers or special characters</td>
                </tr>
            </table>

            <div class="btnReturnContainer">
                <button class="btnReturn" (click)="back()">
                    <P class="btnReturnText">Return</P>
                </button>
            </div>

            <div class="btnSubmitContainer">
                <button class="btnSubmit" type="submit" [disabled]="!addForm.valid">
                    <P class="btnSubmitText">Confirm</P>
                </button>
            </div>
        </form>
    </div>
</div>