<div class="viewPageBody">
    <br>
    <h2 class="lblHeader2 card-title">Purchase orders</h2>
    <br>

    <!-- modify table headers and rows accordingly -->
    <div class="nonViewTableContainer">
        <table class="nonViewTable table table-striped table-light table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" style="width: 4%;">#</th>
                    <th scope="col">Printer Code</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">PO Status</th>
                    <th scope="col">Repair Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <!-- rows for when api is connected and there is data being sent through successfully -->
            <tbody *ngIf="data && data.length > 0">
                <tr scope="row" *ngFor="let attribute of data, let i = index">
                    <td>{{i+1}}</td>
                    <td>{{attribute.repair.errorLog.assignedPrinter.serialNumber}}</td>
                    <td>{{attribute.purchaseOrderDate | date: "dd/MM/yyy"}}</td>
                    <td>{{attribute.purchaseOrderStatus.purchaseOrderStatusName}}</td>
                    <td>{{attribute.repair.repairStatus.repairStatusName}}</td>
                    <!-- doesnt work -->
                    <td *ngIf="(attribute.repair.repairStatusId !== 6);">
                        <button class="btn btn-secondary">No Actions</button>
                    </td>
                    <td *ngIf="attribute.purchaseOrderStatusId == 2 && attribute.repair.repairStatusId == 6">
                        <button class="btn btn-primary" (click)="completeRepair(attribute)">Complete Repair</button>
                    </td>
                </tr>
            </tbody>
            <!-- default row when no data in api or api is not connected -->
            <tr *ngIf="!data || data.length == 0">
                <td>#</td>
                <td>No Data</td>
                <td>No Data</td>
                <td>No Data</td>
                <td>No Data</td>
                <td><button class="btn btn-secondary" disabled type="button">No Actions</button></td>
            </tr>
        </table>
    </div>

    <div class="btnReturnContainer">
        <button class="btnReturn" (click)="back()">
            <P class="btnReturnText">Return</P>
        </button>
    </div>
</div>