<div class="mainDiv">
  <div class="cardStyle">
    <form name="signupForm" id="signupForm" [formGroup]="updateForm" (ngSubmit)="updateUser()">

      <span class="closebtn" (click)="back()">&times;</span>

      <img src="/assets/download.jpeg" id="signupLogo" />

      <h2 class="formTitle">Change your password</h2>

      <div class="inputDiv">
        <label class="inputLabel" for="oldPassword">Old Password</label>
        <span class="requiredField"><input type="password" id="oldPassword" name="oldPassword" required
            placeHolder="Old password" formControlName="currentPassword">
          *</span>
      </div>

      <div class="inputDiv">
        <label class="inputLabel" for="newPassword">New Password</label>
        <span class="requiredField"><input type="password" id="newPassword" name="newPassword" required
          placeHolder="New password" formControlName="newPassword">
          *</span>
      </div>

      <div *ngIf="updateForm.get('newPassword')?.touched && updateForm.get('newPassword')?.hasError('pattern')"
        class="errorMsg inputDiv">
        Please ensure password contains: <br />
        at least 8 characters, <br />
        one special character, <br />
        one numeric character, <br />
        one Uppercase and one Lowercase character
      </div>

      <div class="inputDiv">
        <label class="inputLabel" for="confirmPassword">Confirm Password</label>
        <span class="requiredField"> <input type="password" id="confirmPassword" name="confirmPassword" required
          placeHolder="Confirm password" formControlName="confirmPassword">
          *</span>
      </div>

      <div *ngIf="updateForm.get('confirmPassword')?.touched && updateForm.get('confirmPassword')?.hasError('required')"
        class="errorMsg inputDiv">
        Field cannot be empty
      </div>

      <!-- <div *ngIf="updateForm.hasError('passwordMismatch', 'confirmPassword')" class="errorMsg inputDiv">
        Passwords do not match
      </div> -->

      <div class="buttonWrapper">
        <button type="submit" id="submitButton" class="submitButton" [disabled]="!updateForm.valid">
          <span>Continue</span>
          <span class="btnLoader" *ngIf="isLoading"></span>
        </button>
      </div>

    </form>
  </div>
</div>