.btnRadGroup label{
    display: block;
}

.lblRadio{
    font-weight: bold;
    background-color: black;
    border: 2px solid goldenrod;
}

.centerContainer{
    height: 80%;
}

.lblHeader2{
    margin: 0 0 0 0;
}