<div class="card-body">
    <div class="viewPageBody bg-light">
        <br>
        <h2 class="lblHeader2 card-title">Update {{title}}</h2>
        <br>

        <form class="inputTableContainter" [formGroup]="editForm" (ngSubmit)="edit()">
            <table class="CRUDTable table table-borderless">
                <tr scope="row">
                    <td class="lblInputLabel">Employee Type:</td>
                    <td><input type="text" required formControlName="employeeTypeName"></td>
                </tr>
                <tr
                    *ngIf="editForm.get('employeeTypeName')?.dirty && editForm.get('employeeTypeName')?.hasError('required')">
                    <td></td>
                    <td class="errorMsg">Field cannot be empty.</td>
                </tr>
                <tr
                    *ngIf="editForm.get('employeeTypeName')?.touched && editForm.get('employeeTypeName')?.hasError('specialChar')">
                    <td></td>
                    <td class="errorMsg">Field cannot contain special characters.</td>
                </tr>
                <tr scope="row">
                    <td class="lblInputLabel">Employee Description:</td>
                    <td><input type="text" required formControlName="employeeTypeDescription"></td>
                </tr>
                <tr
                    *ngIf="editForm.get('employeeTypeDescription')?.dirty && editForm.get('employeeTypeDescription')?.hasError('required')">
                    <td></td>
                    <td class="errorMsg">Field cannot be empty.</td>
                </tr>
                <tr
                    *ngIf="editForm.get('employeeTypeDescription')?.touched && editForm.get('employeeTypeDescription')?.hasError('specialChar')">
                    <td></td>
                    <td class="errorMsg">Field cannot contain special characters.</td>
                </tr>
            </table>

            <div class="btnReturnContainer">
                <button class="btnReturn" (click)="back()">
                    <P class="btnReturnText">Return</P>
                </button>
            </div>

            <div class="btnSubmitContainer">
                <button class="btnSubmit" type="submit" [disabled]="!editForm.valid">
                    <P class="btnSubmitText">Submit</P>
                </button>
            </div>
        </form>
    </div>
</div>