<div class="centerContainer">
    <br>
    <h1 class="lblHeader2 card-title">Select a Category To Manage</h1>
    <br>
    <div class="buttonGroup btn-group-vertical">

        <div class="btnMenuItemContainer">
            <button class="btnMenuItem" routerLink="/view-help">
                <span class="btnMenuText">Help</span>
            </button>
        </div>
        <div class="btnMenuItemContainer">
            <button class="btnMenuItem" routerLink="/view-vat-lrate">
                <span class="btnMenuText">Rates</span>
            </button>
        </div>
        <div class="btnMenuItemContainer">
            <button class="btnMenuItem" routerLink="/address-details">
                <span class="btnMenuText">Address Details</span>
            </button>
        </div>
        <div class="btnMenuItemContainer">
            <button class="btnMenuItem" routerLink="/view-employee-type">
                <span class="btnMenuText">Employee Type</span>
            </button>
        </div>
        <div class="btnMenuItemContainer">
            <button class="btnMenuItem" routerLink="/view-branch">
                <span class="btnMenuText">Branches</span>
            </button>
        </div>
        <div class="btnMenuItemContainer">
            <button class="btnMenuItem" routerLink="/view-payment-type">
                <span class="btnMenuText">Payment Methods</span>
            </button>
        </div>
        <div class="btnMenuItemContainer">
            <button class="btnMenuItem" routerLink="/view-error-code">
                <span class="btnMenuText">Error Codes</span>
            </button>
        </div>
        <div class="btnMenuItemContainer">
            <button class="btnMenuItem" routerLink="/view-printer">
                <span class="btnMenuText">Printers</span>
            </button>
        </div>
        <div class="btnMenuItemContainer">
            <button class="btnMenuItem" routerLink="/audit-trail">
                <span class="btnMenuText">Activity Stream</span>
            </button>
        </div>
    </div>

    <div class="btnReturnContainer">
        <button class="btnReturn" (click)="back()">
            <P class="btnReturnText">Return</P>
        </button>
    </div>
</div>