<form [formGroup]="resetForm" (ngSubmit)="sendResetPasswordLink()">
    <input type="email" name="email" placeholder="Email" formControlName="email">
    <div *ngIf="resetForm.get('email')?.touched && resetForm.get('email')?.hasError('email')" class="errorMsg">Invalid
        email address
    </div>
    <button type="submit" class="btnSignUp">Reset
        <span class="btnLoader" *ngIf="isLoading"></span>
    </button>
    <div *ngIf="emailSent" class="lblResendCodeContainer">
        <p class="lblResendCode" (click)="sendResetPasswordLink()">Resend Email</p>
        <!-- <span class="btnLoader loader2" *ngIf="isLoading"></span> -->
    </div>
</form>