<!-- <div class="card"> -->
    <div class="card-body">

        <h1 class="lblHeader2 card-title">Financial Account</h1>
        <br>
        <div class="buttonGroup btn-group-vertical">
            <div class="btnMenuItemContainer">
                <button class="btnMenuItem" routerLink="/make-payment">
                    <span class="btnMenuText">Outstanding Repair Payments</span>
                </button>
            </div>
            <!-- <div class="btnMenuItemContainer">
                <button class="btnMenuItem" routerLink="/repair-payment-history">
                    <span class="btnMenuText">Repair Payment History</span>
                </button>
            </div> -->
            <div class="btnMenuItemContainer">
                <button class="btnMenuItem" routerLink="/payment-history">
                    <span class="btnMenuText">Purchase History</span>
                </button>
            </div>
        </div>

        <br>

        <div class="btnReturnContainer">
            <button class="btnReturn" (click)="back()">
                <P class="btnReturnText">Return</P>
            </button>
        </div>
    </div>
<!-- </div> -->