<div class="viewPageBody">
    <br>
    <h2 class="lblHeader1 card-title">Error log statuses</h2>
    <br>

    <!-- modify table headers and rows accordingly -->
    <div class="nonViewTableContainer">
        <table class="nonViewTable table table-striped table-light table-hover">
            <thead class="thead-dark">
                <tr>
                    <!-- <th scope="col" style="width: 4%;">#</th> -->
                    <!-- <th scope="col" (click)="sortTable('name')">Serial Number</th>
                    <th scope="col" (click)="sortTable('printerStatus')">Status</th>
                    <th scope="col" (click)="sortTable('model')">Model</th> -->
                    <th scope="col">Serial Number</th>
                    <th scope="col">Date Logged</th>
                    <th scope="col" (click)="sortTable('errorLogStatus.errorLogStatusName')">Status</th>
                    <!-- <th scope="col"></th> -->
                </tr>
            </thead>
            <!-- rows for when api is connected and there is data being sent through successfully -->
            <tbody *ngIf="data && data.length > 0">
                <tr scope="row" *ngFor="let attribute of data, let i = index">
                    <!-- <td>{{i+1}}</td> -->
                    <td>{{attribute.assignedPrinter.serialNumber}}</td>
                    <td>{{ attribute.errorLogDate | date:'yyyy-MM-dd' }}</td>
                    <td>{{attribute.errorLogStatus.errorLogStatusName}}</td>
                    <!-- <td><button class="btn btn-danger" (click)="Delete(attribute.printerId)">Derigester</button></td> -->
                </tr>
            </tbody>
            <!-- default row when no data in api or api is not connected -->
            <tr *ngIf="!data || data.length == 0">
                <!-- <td>#</td> -->
                <td>No Data</td>
                <td>No Data</td>
                <td>No Data</td>
                <!-- <td><button class="btn btn-danger" disabled="disabled">Derigester</button></td> -->
            </tr>
        </table>
    </div>

    <!-- this container is always for return and back button -->
    <div class="btnReturnContainer">
        <button class="btnReturn" (click)="back()">
            <P class="btnReturnText">Return</P>
        </button>
    </div>
</div>
