<div class="viewPageBody">
    <h2 class="lblHeader2 card-title">Invoice No: {{clientOrder?.clientInvoice?.clientInvoiceNumber}}
    </h2>

    <br>

    <!-- modify table headers and rows accordingly -->
    <div class="nonViewTableContainer">
        <table class="nonViewTable table table-striped table-light">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" style="width: 4%;">#</th>
                    <th scope="col">Items</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total Price</th>
                </tr>
            </thead>
            <!-- rows for when api is connected and there is data being sent through successfully -->
            <tbody *ngIf="markup && data && data.length > 0">
                <tr scope="row" *ngFor="let attribute of data, let i = index">
                    <td>{{i+1}}</td>
                    <td>{{attribute.stock.stockName}}</td>
                    <td>{{attribute.qty}}</td>
                    <td>{{(attribute.price?.price * attribute.qty) + (attribute.price?.price * attribute.qty) * markup.markupPercent |
                        currency: 'R '}}</td>
                </tr>
            </tbody>
            <!-- default row when no data in api or api is not connected -->
            <tr *ngIf="!data || data.length == 0">
                <td>#</td>
                <td>No Data</td>
                <td>No Data</td>
                <td>No Data</td>
            </tr>
            <tfoot *ngIf="VAT">
                <tr>
                    <td></td>
                    <td></td>
                    <td>Vat Exclusive:</td>
                    <td>{{TotalExVat | currency: 'R '}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>VAT ({{VAT.vatPercent * 100 + "%"}}):</td>
                    <td>{{VATAmount | currency: 'R '}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Total:</td>
                    <td>{{TotalExVat + VATAmount | currency: 'R '}}</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <!-- this container is always for return and back button -->
    <div class="btnReturnContainer">
        <button class="btnReturn" (click)="back()">
            <P class="btnReturnText">Return</P>
        </button>
    </div>
</div>