<div class="viewPageBody">
  <br>
  <h1 class="lblHeader2 card-title">Printer Details</h1>
  <br>

  <div class="centerContainer">
    <table>
      <tr>
        <th>Owner</th>
        <td>{{ ErrorForm.get('clientName')?.value || 'No Data' }}</td>
      </tr>
      <tr>
        <th>Date logged</th>
        <td>{{ ErrorForm.get('errorLogDate')?.value | date:'dd/MM/yyyy' || 'No Data' }}</td>
      </tr>
      <tr>
        <th>Printer</th>
        <td>{{ ErrorForm.get('serialNumber')?.value || 'No Data' }}</td>
      </tr>
      <tr>
        <th>Error Code</th>
        <td>{{ ErrorForm.get('errorCodeName')?.value || 'No Data' }}</td>
      </tr>
      <tr>
        <th>Additional Info</th>
        <td>{{ ErrorForm.get('errorLogDescription')?.value || 'No Data' }}</td>
      </tr>
    </table>
  </div>


  <div class="btnReturnContainer">
    <button class="btnReturn" (click)="back()">
      <P class="btnReturnText">Return</P>
    </button>
  </div>

  <div class="btnSubmitContainer">
    <button class="btnSubmit" [routerLink]="['/remote-checklist', data?.errorLogId]">
      <P class="btnSubmitText">Remote Checklist</P>
    </button>
  </div>
</div>