.centerContainer {
  width: 60%;
  max-width: 600px;
  min-height: 500px;
  border: solid black 1px;
  background-color: white;
  border-radius: 20px;
}

/* spacing */

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 20px;
  }

  th{
    text-align: right;
  }

  td{
    text-align: left;
  }
  