<div class="card-body">
    <div class="viewPageBody bg-light">
        <br>
        <h2 class="lblHeader2 card-title">Update {{title}}</h2>
        <br>

        <!-- modify table headers and rows accordingly -->
        <form class="inputTableContainter" [formGroup]="editForm" (ngSubmit)="edit()">
            <table class="CRUDTable table table table-borderless">
                <tr scope="row">
                    <td class="lblInputLabel">Name:</td>
                    <td><input #name type="text" required formControlName="clientName"></td>
                </tr>
                <tr *ngIf="editForm.get('clientName')?.dirty && editForm.get('clientName')?.hasError('required')">
                    <td></td>
                    <td class="errorMsg">Please enter a valid name.</td>
                </tr>
                <tr scope="row">
                    <td class="lblInputLabel">Email:</td>
                    <td><input #email type="email" required formControlName="clientEmail"></td>
                </tr>
                <tr *ngIf="editForm.get('clientEmail')?.touched && editForm.get('clientEmail')?.hasError('required')"
                    class="errorMsg">
                    <td></td>
                    <td>Field cannot be empty</td>
                </tr>
                <tr *ngIf="editForm.get('clientEmail')?.touched && editForm.get('clientEmail')?.hasError('email')"
                    class="errorMsg">
                    <td></td>
                    <td>Invalid email address</td>
                </tr>
                <tr scope="row">
                    <td class="lblInputLabel">Contact Number:</td>
                    <td><input #number type="text" required formControlName="clientNumber"></td>
                </tr>
                <tr *ngIf="editForm.get('clientNumber')?.touched && editForm.get('clientNumber')?.hasError('required')">
                    <td></td>
                    <td class="errorMsg">Field cannot be empty</td>
                </tr>
                <tr *ngIf="editForm.get('clientNumber')?.touched && editForm.get('clientNumber')?.hasError('pattern')">
                    <td></td>
                    <td class="errorMsg">Please enter a valid 10-digit number with 0 as the starting digit.</td>
                </tr>
                <tr scope="row">
                    <td class="lblInputLabel">Address:</td>
                    <td><textarea #address required formControlName="clientAddress"></textarea>
                    </td>
                </tr>
                <tr
                    *ngIf="editForm.get('clientAddress')?.dirty && editForm.get('clientAddress')?.hasError('required')">
                    <td></td>
                    <td class="errorMsg">Please enter a valid address.</td>
                </tr>
            </table>

            <div class="btnReturnContainer">
                <button class="btnReturn" (click)="back()">
                    <P class="btnReturnText">Return</P>
                </button>
            </div>

            <!-- modify click event according to values in table cells -->
            <div class="btnSubmitContainer">
                <button class="btnSubmit" type="submit" [disabled]="!editForm.valid">
                    <P class="btnSubmitText">Submit</P>
                </button>
            </div>
        </form>
    </div>