<!-- <div class="card"> -->
    <div class="card-body">

        <h1 class="lblHeader2 card-title">Financials</h1>
        <br>
        <div class="buttonGroup btn-group-vertical">
            <div class="btnMenuItemContainer">
                <button class="btnMenuItem" routerLink="/financial-account">
                    <span class="btnMenuText">Financial Account</span>
                </button>
            </div>
            <div class="btnMenuItemContainer">
                <button class="btnMenuItem" routerLink="/client-purchase-orders">
                    <span class="btnMenuText">Purchase Orders</span>
                </button>
            </div>
        </div>

        <br>

        <div class="btnReturnContainer">
            <button class="btnReturn" (click)="back()">
                <P class="btnReturnText">Return</P>
            </button>
        </div>
    </div>
<!-- </div> -->