<div class="card-body">
    <div class="viewPageBody bg-light">
        <br>
        <h2 class="lblHeader2 card-title">Update {{title}}</h2>
        <br>

        <form class="inputTableContainter" [formGroup]="editForm" (ngSubmit)="edit()">
            <table class="CRUDTable table table-borderless">
                <tr scope="row">
                    <td class="lblInputLabel">{{title}} Name:</td>
                    <td><input type="text" required #name formControlName="branchName"></td>
                </tr>
                <tr *ngIf="editForm.get('branchName')?.dirty && editForm.get('branchName')?.hasError('whitespace')">
                    <td></td>
                    <td class="errorMsg">Please enter a valid name.</td>
                </tr>
                <tr *ngIf="editForm.get('branchName')?.touched && editForm.get('branchName')?.hasError('specialChar')">
                    <td></td>
                    <td class="errorMsg">Field cannot contain special characters.</td>
                </tr>
                <tr scope="row">
                    <td class="lblInputLabel">{{title}} Code</td>
                    <td><input type="text" required #code formControlName="branchCode"></td>
                </tr>
                <tr *ngIf="editForm.get('branchCode')?.dirty && editForm.get('branchCode')?.hasError('whitespace')">
                    <td></td>
                    <td class="errorMsg">Please enter a valid branch code.</td>
                </tr>
                <tr *ngIf="editForm.get('branchCode')?.touched && editForm.get('branchCode')?.hasError('specialChar')">
                    <td></td>
                    <td class="errorMsg">Field cannot contain special characters.</td>
                </tr>
                <tr scope="row">
                    <td class="lblInputLabel" for="SelectList">{{title}} City:</td>
                    <td>
                        <select class="inputSelectBox" required #city formControlName="cityId">
                            <option *ngIf="!cityData || cityData.length == 0" required>No data</option>
                            <option *ngFor="let attribute of cityData" [value]="attribute.cityId" required>{{
                                attribute.cityName }}</option>
                        </select>
                    </td>
                </tr>
                <tr *ngIf="editForm.get('cityId')?.touched && editForm.get('cityId')?.hasError('required')">
                    <td></td>
                    <td class="errorMsg">Please select a city.</td>
                </tr>
                <tr scope="row">
                    <td class="lblInputLabel" for="SelectList">Part Of:</td>
                    <td>
                        <select class="inputSelectBox" required #client formControlName="clientId">
                            <option *ngIf="!clientData || clientData.length == 0" required>No data</option>
                            <option *ngFor="let attribute of clientData" [value]="attribute.clientId" required>{{
                                attribute.clientName }}</option>
                        </select>
                    </td>
                </tr>
                <tr *ngIf="editForm.get('clientId')?.touched && editForm.get('clientId')?.hasError('required')">
                    <td></td>
                    <td class="errorMsg">Please select a client.</td>
                </tr>
            </table>

            <div class="btnReturnContainer">
                <button class="btnReturn" (click)="back()">
                    <P class="btnReturnText">Return</P>
                </button>
            </div>

            <div class="btnSubmitContainer">
                <button class="btnSubmit" type="submit" [disabled]="!editForm.valid">
                    <P class="btnSubmitText">Update</P>
                </button>
            </div>
        </form>
    </div>
</div>