<div class="loaderBody">
    <div class="waveLoader">
        <div class="cell d-0"></div>
        <div class="cell d-1"></div>
        <div class="cell d-2"></div>

        <div class="cell d-1"></div>
        <div class="cell d-2"></div>

        <div class="cell d-2"></div>
        <div class="cell d-3"></div>

        <div class="cell d-3"></div>
        <div class="cell d-4"></div>
    </div>

    <div class="waveLoaderText">
        <h3 class="loaderText">Getting page resources</h3>
        <h3 class="loaderText loaderText--last">Something might be wrong 
            <span class="loadingTextLink" (click)="refresh()"><u>refresh</u></span> or 
            <span class="loadingTextLink" (click)="back()"><u>return</u></span>
        </h3>
    </div>
</div>