<div class="mainDiv">
    <div class="cardStyle">
      <form name="signupForm" id="signupForm" [formGroup]="resetForm" (ngSubmit)="resetPassword()">
  
        <img src="/assets/download.jpeg" id="signupLogo" />
  
        <h2 class="formTitle">Reset your password</h2>
  
        <div class="inputDiv">
          <label class="inputLabel" for="newPassword">New Password</label>
          <input type="password" id="newPassword" name="newPassword" required formControlName="newPassword">
        </div>
        <div *ngIf="resetForm.get('newPassword')?.touched && resetForm.get('newPassword')?.hasError('pattern')"
          class="errorMsg inputDiv">
          Please ensure password contains: <br />
          at least 8 characters, <br />
          one special character, <br />
          one numeric character, <br />
          one Uppercase and one Lowercase character
        </div>
  
        <div class="inputDiv">
          <label class="inputLabel" for="confirmPassword">Confirm Password</label>
          <input type="password" id="confirmPassword" name="confirmPassword" required formControlName="confirmPassword">
        </div>
        <div *ngIf="resetForm.get('confirmPassword')?.touched && resetForm.get('confirmPassword')?.hasError('required')"
          class="errorMsg inputDiv">
          Field cannot be empty
        </div>

        <!-- <div *ngIf="resetForm.hasError('passwordMismatch', 'confirmPassword')" class="errorMsg inputDiv">
          Passwords do not match
        </div> -->
  
        <div class="buttonWrapper">
          <button type="submit" id="submitButton" class="submitButton" [disabled]="!resetForm.valid">
            <span>Continue</span>
            <span class="btnLoader" *ngIf="isLoading"></span>
          </button>
          <p>Click here to <a href="/sign-in">sign in</a></p>
        </div>
  
      </form>
    </div>
  </div>