<div class="viewPageBody">
    <h1 class="lblHeader2">Dashboard</h1>
    <br>
    <div class="buttonGroup btn-group-vertical">
        <div class="btnMenuItemContainer">
            <button class="btnMenuItem" routerLink="/book-in-printer">
                <span class="btnMenuText">Book In Printer</span>
            </button>
        </div>
        <div class="btnMenuItemContainer">
            <button class="btnMenuItem" routerLink="/book-out-printer">
                <span class="btnMenuText">Book Out Printer</span>
            </button>
        </div>
        <div class="btnMenuItemContainer">
            <button class="btnMenuItem" routerLink="/book-in-stock">
                <span class="btnMenuText">Book In Stock</span>
            </button>
        </div>
        <div class="btnMenuItemContainer">
            <button class="btnMenuItem" routerLink="/book-out-stock">
                <span class="btnMenuText">Book Out Stock</span>
            </button>
        </div>
        <div class="btnMenuItemContainer">
            <button class="btnMenuItem" routerLink="/view-parts-requests">
                <span class="btnMenuText">View Parts Requests</span>
            </button>
        </div>
        <div class="btnMenuItemContainer">
            <button class="btnMenuItem" routerLink="/view-supplier-order">
                <span class="btnMenuText">View Supply orders</span>
            </button>
        </div>
        <div class="btnMenuItemContainer">
            <button class="btnMenuItem" routerLink="/view-client-order">
                <span class="btnMenuText">View Client orders</span>
            </button>
        </div>
    </div>
</div>